@font-face {
    font-family: "Biko";
    src: url('fonts/biko/Biko_Regular.otf') format('opentype');
}
@font-face {
    font-family: "Biko";
    src: url('fonts/biko/Biko_Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: "Biko";
    src: url('fonts/biko/Biko_Black.otf') format('opentype');
    font-weight: 900;
}
@font-face {
    font-family: "Biko";
    src: url('fonts/biko/Biko_Light-Restricted.otf') format('opentype');
    font-weight: 200;

}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('fonts/meteocons/meteocons-webfont.eot');
    src: url('fonts/meteocons/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/meteocons/meteocons-webfont.woff') format('woff'),
         url('fonts/meteocons/meteocons-webfont.ttf') format('truetype'),
         url('fonts/meteocons/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    font-family: "Biko";
  	padding: 0;
    background-color: #ff7070;
	color: white;
}

.bgPurple {
    background-color: #a970ff;
}

loading {
	position: absolute;
	background-color: #ff7070;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: block;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
}

.loading > img{
    width: 60px;
    padding-bottom: 15px;
}

.loading > .uil-rolling-css {
    margin-top: -20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.headerLogo {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.headerLogo > img {
    width: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}

.navbar-form {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-form > div {
    padding: 6px;
}

.navbar-form .input-group {
    width: 250px;
}

.navbar-form .input-group input {
    background-color: rgb(169, 105, 255);
    border: none;
    border-radius: 0px;
    color: rgb(212, 184, 255);
}

.navbar-form .input-group input::-webkit-input-placeholder {
    color: rgb(212, 184, 255);
}
.navbar-form .input-group input:-moz-placeholder {
    color:  rgb(212, 184, 255);
}
.navbar-form .input-group input::-moz-placeholder {
    color: rgb(212, 184, 255);
}
.navbar-form .input-group input:-ms-input-placeholder {
    color:  rgb(212, 184, 255);
}

.navbar-form .input-group-btn {
    text-align: left;
}

.navbar-form .btn-primary {
    color: rgb(169, 105, 255);
    background-color: #70ff91;
    border: none;
    border-radius: 0;
}

.today {
    color: #82d1b4;
}

.weatherInfo {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

.weatherInfo > ul {
    list-style: none;
    padding-left: 0;
}

.weatherInfo.currentWeather {
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
}

.weatherInfo .icon {
    font-size: 110px;
}

.weatherInfo.dailyWeather .icon {
    font-size: 77px;
}

.weatherInfo .maxTemp {
    color: #70ff91;
    font-weight: 600;
}

.weatherInfo .minTemp {
    color: #85cab9;
    font-weight: 600;
}

.dailyInfo {
    margin-top: 70px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #6ffe90;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
     font-size: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #a970ff;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav div {
    padding: 40px 8px 40px 32px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s
}

.sidenav .suggest {
	color: #a970ff;
	font-size: 18px;
	position: absolute;
	bottom: 32px;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.social {
    list-style: none;
    padding-left: 0;
}

.social > li {
    display: inline-block;
    padding-top: 15px;
    padding-right: 15px;
}

.social > li > img, .social > li > a > img  {
    height: 30px;
}

.hidden {
     display:none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
