<div ng-controller="MainCtrl">
    <div class="row">

    </div>
    <div class="row">
        <div class="container-fluid" ng-hide="currentCityWF">
            <form validate class="navbar-form navbar" role="search">
                <div>type a location:</div>
                <div class="input-group container">
                    <input type="text" class="form-control city-input" placeholder="type here.." ng-model="city" ng-pattern="/\w+/">
                    <span class="input-group-btn"><button type="submit" class="btn btn-default" type="button" ng-click="searchCity()" value="Save">Search</button></span>
                </div>
                <div>or give us your location</div>
                <div><button class="btn btn-primary" type="submit" ng-click="searchLocation()" >access location</button></div>
            </form>
        </div>
    </div>
    <div class="row">
        <div ng-show="currentCityWF">
            <div class="weatherInfo currentWeather">
                <div class="today">TODAY</div>
                <ul>
                    <li>{{currentCityWF.name}}, {{currentCityWF.sys.country}}</li>
                    <li class="icon" data-icon="{{cIcon}}"></li>
                    <li class="maxTemp">{{currentCityWF.main.temp_max | number:0}} <sup>o</sup>C</li>
                    <li class="minTemp">{{currentCityWF.main.temp_min | number:0}} <sup>o</sup>C</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
         <div ng-show="currentCityWF" class="dailyInfo col-xs-2" ng-repeat="dayWF in nextWF.list">
             <div class="weatherInfo dailyWeather">
                <ul>
                    <li>{{days[$index] | date:'EEE' | uppercase}}</li>
                    <li class="icon" data-icon="{{icons[$index]}}"></li>
                    <li class="maxTemp">{{dayWF.temp.max | number:0}} <sup>o</sup>C</li>
                    <li class="minTemp">{{dayWF.temp.min | number:0}} <sup>o</sup>C</li>
                </ul>
            </div>
        </div>
    </div>
</div>
